/* Reset margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Customize scrollbar width for WebKit browsers */
::-webkit-scrollbar {
  width: 5px;
}

/* Style the background of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #FFEFE0;
}

/* Style the appearance of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #F2994A;
  border-radius: 4px;
}
